snippet clgred
  console.log '\x1b[31m%s\x1b[0m', ${0}

snippet clggreen
  console.log '\x1b[32m%s\x1b[0m', ${0}

snippet clgyellow
  console.log '\x1b[33m%s\x1b[0m', ${0}

snippet clgblue
  console.log '\x1b[34m%s\x1b[0m', ${0}

snippet clgmagenta
  console.log '\x1b[35m%s\x1b[0m', ${0}

snippet clgcyan
  console.log '\x1b[36m%s\x1b[0m', ${0}

snippet jstringifyfmt
  JSON.stringify(${0} , null, 2)

